<h2>Search Airports</h2>

<div class="container">
  <form action="/FlightTrackApp/searchairport">
    <input type="text" name="from_country" placeholder="country">
    <input type="text" name="from_town" placeholder="town">
    <button type="submit">Search</button>
  </form>
</div>
