
<div class="flight-search">
  <form class="airportsearch" action="/FlightTrackApp/searchairport" method="post">
    <input id="country" type="text" name="from_country" placeholder="country">

    <input id="city" type="text" name="from_city" placeholder="city">
    <button id="search" type="submit">Search</button>
  </form>
</div>

<div>
  <% if session[:airports] %>
    <ul class="maps-airports">
      <% session.delete(:airports).each do |airport_infos| %>
      <li><form action="/FlightTrackApp/detailsairport/<%= airport_infos[:id] %>" method="get">
            <div class="mini-map-airport">
              <button type="submit">
              <img id="mini-map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= airport_infos[:latitude] %>,<%= airport_infos[:longitude] %>&zoom=13&size=200x200&maptype=terrain&key=AIzaSyCwSphWJCzmNw6LlcDF3aFXnjQ1pmquXj8">
              </button>
              <h4><%= airport_infos[:name] %></h4>
            </div>
          </form>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>

<script>
$(document).ready(function() {
  $("#country").keyup(function() {

    $.getJSON("/autocomplete?country=" + $(this).val(), function(data) {

      $("#country").autocomplete({
        source: data
      });
    });
  });

  $("#city").keyup(function() {
    var country = $("#country").val();

    $.getJSON("/autocomplete?city=" + $(this).val() + 
      "&country=" + country, function(data) {

      $("#city").autocomplete({
        source: data
      });
    });
  });
});
</script>
