<h2>Search Airports</h2>

<div class="flightsearch">
  <form class="airportsearch" action="/FlightTrackApp/searchairport" method="post">
    <input id="country" type="text" name="from_country" placeholder="country">

    <input id="city" type="text" name="from_city" placeholder="city">
    <button type="submit">Search</button>
  </form>
</div>

<% if session[:results] %>
  <ul>
    <% session.delete(:results).each do |airport_infos| %>
    <li><form action="/FlightTrackApp/detailsairport/<%= airport_infos[:id] %>" method="get">
          <button type="submit">
            <div>
              <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= airport_infos[:latitude] %>,<%= airport_infos[:longitude] %>&zoom=13&size=400x400&maptype=terrain&key=AIzaSyCwSphWJCzmNw6LlcDF3aFXnjQ1pmquXj8">
            </div>
          </button>
          <h4><%= airport_infos[:name] %></h4>
        </form>
    </li>
    <% end %>
  </ul>
<% end %>

<script>
$(document).ready(function() {
  $("#country").keyup(function() {

    $.getJSON("/autocomplete?country=" + $(this).val(), function(data) {

      $("#country").autocomplete({
        source: data
      });
    });
  });

  $("#city").keyup(function() {
    var country = $("#country").val();

    $.getJSON("/autocomplete?city=" + $(this).val() + 
      "&country=" + country, function(data) {

      $("#city").autocomplete({
        source: data
      });
    });
  });
});
</script>
