<!DOCTYPE html>
<html>

<head>
  <title>Flight Track App</title>
  <link rel="stylesheet" type="text/css" href="/resources/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
  <script src="/resources/javascript/jquery-3.3.1.min.js"></script>
  <script src="/resources/javascript/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
</head>

<body>

<div class="landing">

  <div class="splash">

    <div class="title">
      <p id="ground">Ground</p>
    </div>

    <div class="title">
      <p id="sky1">To</p>
    </div>

    <div class="title">
      <p id="sky2">Sky</p>
    </div>

    <div class="title">
      <p id="sky3"></p>
    </div>

  </div>

  <div class="links">

    <div class="choices">

      <div class="choice">
          <a href="/FlightTrackApp/airports"><img  src="7614 - Airport Building.svg"></a>
          <p>Airports</p>
      </div>
  
      <div class="choice">
          <a href="/FlightTrackApp/airlines"><img  src="7627 - Flight Captain.svg"></a>
          <p>Airlines</p>
      </div>
  
      <div class="choice">
          <div>
            <a href="/FlightTrackApp/routes">
              <img src="7652 - Round Travel Flights.svg">
            </a>
          </div>
          <div>
            <p>Routes</p>
          </div>
      </div>

    </div>

  </div>
</div>

<footer>
  <div class="credit">
    <a href="https://www.vecteezy.com" style="color: #F5EFBE">About /GROUND2SKY/</a  >
  </div>
  <div>
    <div>
      <%== yield_content :header_links %>
    </div>
    <% if session[:in_sign] == false && session[:username].nil? %>
      <form action="/FlightTrackApp/users/sign" method="get">
        <button type="submit" value="Sign in"><img src="/6606 - Male User.svg" id="user"></button>
      </form>

      <form action="/FlightTrackApp/users/sign" method="get">
        <button class="attention" type="submit" value="Register"><img id="notepad" src="/6584 - Notepad.svg"></button>
      </form>
    <% elsif session[:username] %>
        <p>Signed in as <%= session[:username] %></p>
        <form action="/FlightTrackApp/users/signout" method="post">
          <button type="submit" value="Sign out">Sign out</button>
        </form>
    <% end %>
  </div>
</footer>

</body>
</html>