<% content_for :hero do %>
  <div class="splash">
    <div class="center">
      <p>
        <span>Ground to Sky</span>
      </p>
      <br />
      <p>
        Your ultimate flight search tool.
      </p>
    </div>
  </div>
<% end %>

<div class="container">
  
  <ul class="links">
    <li>
      <a href="/FlightTrackApp/airports"><img  src="airports_icon.png"></a>
      <p>Airports</p>
    </li>

    <li>
      <a href="/FlightTrackApp/airlines"><img  src="airlines_icon.png"></a>
      <p>Airlines</p>
    </li>

    <li>
      <a href="/FlightTrackApp/routes"><img src="routes_icon.png"></a>
      <p>Routes</p>
    </li>

    <a class="credit" href="https://www.vecteezy.com">Graphics Provided by Vecteezy!</a>
  </ul>

  </div>
</div>