<div class="container">Some flights (map with some routes)</div>

<div class="container">
  <h2>Which one?</h2>

<div>
  <div><h2>You are curious about</h2></div>

  <form action="/FlightTrackApp/airports" method="get">
    <button type="submit">AIRPORTS</button>
  </form>

  <form action="/FlightTrackApp/airlines" method="get">
    <button type="submit">AIRLINES</button>
  </form>

  <form action="/FlightTrackApp/searchflight" method="post">
    <div class="flightsearch">
      <fieldset>
        <legend>Flight from</legend>
        <input id="flightfrom" type="text" name="from" placeholder="airport name or city">
      </fieldset>
    </div>

    <div class="flightsearch">
      <fieldset>
        <legend>Flight to</legend>
        <input type="text" name="to" placeholder="airport name or city">
      </fieldset>
    </div>
    <button type="submit">Take off</button>
  </form>

<div>
  <div><h2>You are curious about</h2></div>
  <form action="/FlightTrackApp/airports" method="get">
    <button type="submit">AIRPORTS</button>
  </form>
  <form action="/FlightTrackApp/airlines" method="get">
    <button type="submit">AIRLINES</button>
  </form>
  <form action="/FlightTrackApp/routes" method="get">
    <button type="submit">ROUTES</button>
  </form>
</div>

<!-- SELECT (iata || ' ' || trim(trailing ' Airport' from name) || ', ' || city) FROM airports;
 -->
