<% content_for :hero do %>
  <div class="splash">
    <div class="center">
        <p id="sky3">/Sky</p>
        <p id="sky2">_2_/</p>
        <p id="sky1">/</p>
        <p id="ground">Ground/</p>
      <br />
    </div>
  </div>
<% end %>

<div class="links">
  <div class="choices">
    <div class="choice">
        <a href="/FlightTrackApp/airports"><img  src="airports_icon.png"></a>
        <p>Airports</p>
    </div>

    <div class="choice">
        <a href="/FlightTrackApp/airlines"><img  src="airlines_icon.png"></a>
        <p>Airlines</p>
    </div>

    <div class="choice">
        <a href="/FlightTrackApp/routes"><img src="routes_icon.png"></a>
        <p>Routes</p>
    </div>
  </div>
  <div class="credit">
    <a href="https://www.vecteezy.com" style="color: #F5EFBE">Graphics Provided by Vecteezy!</a>
  </div>
  </div>
</div>