<div class="container">Some flights (map with some routes)</div>
<div>
  <div><h2>You are curious about</h2></div>
  <form action="/FlightTrackApp/airports" method="get">
    <button type="submit">AIRPORTS</button>
  </form>
  <form action="/FlightTrackApp/airlines" method="get">
    <button type="submit">AIRLINES</button>
  </form>
  <form action="/FlightTrackApp/routes" method="get">
    <button type="submit">ROUTES</button>
  </form>
</div>

