<div class="sign">
  <div class="container">
    <fieldset >
      <legend>Please sign in</legend>
      <form action="/FlightTrackApp/users/sign_in" method="post">
        <div>
          <ul>
            <li><p>User name</p><input type="text" name="username"></li>
            <li><p>Password</p><input type="text" name="password"></li>
          </ul>
        </div>
            <div><button type="submit" value="Sign in">SUBMIT</button></div>
      </form>
    </fieldset>
  </div>
  
  <div class="container">
    <fieldset >
      <legend>Please sign up</legend>
      <form action="/FlightTrackApp/users/sign_up" method="post">
        <% if session[:hints] %>
          <% session[:hints].each do |hint| %>
            <ul>
              <li><%= hint %></li>
            </ul>
          <% end %>
        <% end %>
        <ul>
          <li><p>User name</p><input type="text" name="username"></li>
          <li><p>Password</p><input type="text" name="password" placeholder="at least 8 characters"></li>
          <li><p>Confirm password</p><input type="text" name="confirm_password"></li>
          <li><p>Email address</p><input type="text" name="email"></li>
          <li><p>Confirm email</p><input type="text" name="confirm_email"></li>
        </ul>
        <button type="submit" value="Submit">SUBMIT</button>
        </form>
    </fieldset>
  </div>
</div>

<div class="container">A flight</div>
