<!DOCTYPE html>
<html>
<head>
	<title>Flight Track App</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>
<body>
  <header>
    <h1>Track Your Flight</h1>
    <div class="message">Display messages here</div>
    <nav>
    	<ul>
    		<li></li>
    	</ul>
    </nav>
  </header>
  <%== yield %>
  <footer></footer>
</body>
</html>