<!DOCTYPE html>
<html>
<head>
	<title>Flight Track App</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/style.css">
</head>
<body>
  <header>Track Your Flight</header>
  <div class="container">Sign in</div>
  <div class="container">Sign up</div>
  <footer></footer>
</body>
</html>