<h2>Search Routes</h2>

<div class="container">
  <form action="/FlightTrackApp/searchflight" method="post">
    <div class="flightsearch">
      <fieldset>
        <legend>Flight from</legend>
        <input id="flightfrom" type="text" name="from" placeholder="airport name or city">
      </fieldset>
    </div>

    <div class="flightsearch">
      <fieldset>
        <legend>Flight to</legend>
        <input id="flightto" type="text" name="to" placeholder="airport name or city">
      </fieldset>
    </div>
    <button type="submit">Take off</button>

  </form>
</div>

<script>
  $(document).ready(function() {
    $("#flightfrom").keyup(function() {

      $.getJSON("/autocomplete?airport=" + $(this).val(), function(data) {

        $("#flightfrom").autocomplete({
          source: data
        });
      });
    });

    $("#flightto").keyup(function() {

      $.getJSON("/autocomplete?airport=" + $(this).val(), function(data) {

        $("#flightto").autocomplete({
          source: data
        });
      });
    });
  });
</script>