<div class="container">
  <form action="/FlightTrackApp/searchroute" method="post">
    <div id="flight_from">
      <fieldset>
        <legend>Flight from</legend>
        <input type="text" name="from_country" placeholder="country">
        <input type="text" name="from_town" placeholder="town">
        <input type="text" name="from_airport" placeholder="airport">
<!--    <input type="text" name="date_departure" value="date">
        <input type="text" name="time_departure" value="time"> -->
      </fieldset>
    </div>
    <div id="flight_to">
      <fieldset>
        <legend>Flight to</legend>
        <input type="text" name="to_country" placeholder="country">
        <input type="text" name="to_town" placeholder="town">
        <input type="text" name="to_airport" placeholder="airport">
<!--    <input type="text" name="date_arrival" value="date">
        <input type="text" name="time_arrival" value="time"> -->
      </fieldset>
    </div>
    <button type="submit">Take off</button>
  </form>
</div>