<div class="sign">

  <div class="container">
    <fieldset >
      <legend>To sign in</legend>
      <form action="/FlightTrackApp/users/signin" method="post">
        <div>
          <ul>
            <li><p>User name</p><input type="text" name="username"></li>
            <li><p>Password</p><input type="password" name="password"></li>
          </ul>
        </div>
            <div><button type="submit" value="Sign in">SUBMIT</button></div>
      </form>
    </fieldset>
  </div>
  
  <div class="container">
    <fieldset >
      <legend>To register</legend>
      <form action="/FlightTrackApp/users/signup" method="post">
        <% if session[:hints] %>
          <% session[:hints].each do |hint| %>
            <ul>
              <li><%= hint %></li>
            </ul>
          <% end %>
        <% end %>
        <ul>
          <li><p>User name</p><input type="text" name="username"></li>
          <li><p>Password</p><input type="password" name="password" placeholder="at least 8 characters"></li>
          <li><p>Confirm password</p><input type="password" name="confirm_password"></li>
        </ul>
        <button type="submit" value="Submit">SUBMIT</button>
        </form>
    </fieldset>
  </div>

</div>