html {
  font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: black;
	background-color: white;
}

div.container {
  border: 1px solid #FC7D7D;
}

header{
  display: flex;
}

header h1{
  font-size: 3rem;
}

nav{
  display: flex;
  margin-left: auto;
}

/**=============
    Layout
=============**/

header a {
  font-family: 'Roboto', 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #081739;
  text-decoration-line: none;
}

div.message {
  position: absolute;
  display: block;
  width: 100%;
}

div.message p {
  line-height: 1.5em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -0.05em;
}

div.message p.success {
  color: #296D30;
  background-color: #6CF996;
}

div.message p.alert {
  color: #542517;
  background-color: #F797BA;
}

.hero nav {
  display: block;
  float: right;
  padding-right: 1em;
  text-align: right;
  position: absolute;
  margin: auto;
  top: 1.7em;
  right: 0;
}

.hero form {
  display: inline-block;
  margin-right: .5em;
}

.hero nav button {
  color: #F0F0F0;
  font-size: 1em;
  font-weight: 700;
  padding: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.hero nav button:hover {
  color: #515151;
  cursor: pointer;
}

.hero nav button.attention {
  border: 1.5px solid #CFCFCF;
  border-radius: 4px;
}

.hero nav button.attention:hover {
  color: #515151;
  background-color: #CFCFCF;
}

.hero nav p {
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

/**=============
  Landing Page
=============**/
form div {
  padding: .5em;
}

div.flightsearch input {
  display: block;
  padding: .5em;
  font-size: 1.2em;
  width: 25em;
}

form.airportsearch input {
  display: inline-block;
  width: 15em;
}

form.airportsearch button {
  margin-top: 1em;
  height: 3.2em;
  width: 8em;
}

.hero .splash {
  margin: auto;
  width: 2880px;
  height: 500px;
  background-image: url("/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero div.center {
  position: absolute;
  margin: auto;
  top: -10em;
  left:-2em;
  right:0;
  bottom:0;
  height:100px;
}

.hero p {
  letter-spacing: .06em;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.hero p span {
  text-align: center;
  letter-spacing: .08em;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}

/**=============
  Autocomplete
=============**/
.ui-autocomplete {
  display: block;
  width: 20em;
  line-height: 1.3em;
  background-color: white;
  border: 1px solid #808080;
}

.ui-state-active {
  display: block;
  background-color: #7DA7FC;
}

.ui-helper-hidden-accessible {
  display: none;
	margin-left: auto;
}

.container{
	
}

/**=============
  Detailed Infos
=============**/

table, th, td {
    border: 1px solid black;
}