html {
  font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: black;
	background-color: white;
}

header{
  display: flex;
}

header h1{
  font-size: 3rem;
}

nav{
  display: flex;
  margin-left: auto;
}
/**=============
    Layout
=============**/

header a {
  font-family: 'Roboto', 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #081739;
  text-decoration-line: none;
}

.container h2 {
  color: #6E6E6E;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .07em;
  padding: 1em 0;
  margin-bottom: 1em;
}

div.message {
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, 0);
}

div.message p {
  padding: 0.1em 2em;
  border-radius: 0 0 5px 5px;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -0.05em;
}

div.message p.success {
  color: #296D30;
  background-color: #6CF996;
}

div.message p.alert {
  color: #542517;
  background-color: #F797BA;
}

.hero nav {
  display: block;
  float: right;
  padding-right: 1em;
  text-align: right;
  position: absolute;
  margin: auto;
  top: 1.7em;
  right: 0;
}

.hero form {
  display: inline-block;
  margin-right: .5em;
}

.hero nav button {
  color: #F0F0F0;
  font-size: 1em;
  font-weight: 700;
  padding: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.hero nav button:hover {
  color: #515151;
  cursor: pointer;
}

.hero nav button.attention {
  border: 1.5px solid #CFCFCF;
  border-radius: 4px;
}

.hero nav button.attention:hover {
  color: #515151;
  background-color: #CFCFCF;
}

.hero nav p {
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
}

/**=============
  Landing Page
=============**/
form div {
  padding: .5em;
}

div.flightsearch input {
  display: block;
  padding: .5em;
  font-size: 1.2em;
  width: 25em;
}

form.airportsearch input {
  display: inline-block;
  width: 15em;
}

form.airportsearch button {
  margin-top: 1em;
  height: 3.2em;
  width: 8em;
}

.hero .splash {
  margin: auto;
  width: 2880px;
  height: 500px;
  background-image: url("/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media screen and (max-width: 1367px) {
  .hero .splash {
    width: 1351px;
  }
}

.hero div.center {
  position: absolute;
  margin: auto;
  top: 200px;
  left: 10%;
  right: 10%;
  height:100px;
}

.hero p {
  letter-spacing: .06em;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.hero span {
  text-align: center;
  letter-spacing: .08em;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
}

div.links {
  margin: auto;
  display: block;
  float: center;
  width: 51.5em;
}

.links div {
  display: inline-block;
  margin: 0 1em 5em 1em;
}

.links a {
  text-decoration: none;
}

.links img {
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  width: 15em;
  height: 15em;
}

@media screen and (max-width: 800px) {
  .links img {
    width: 10em;
    height: 10em;
  }

  div.links {
    width: 36.5em;
  }
}

.links img:hover {
  border: none;
  filter: brightness(120%);
}

.links p {
  font-family: 'Roboto', 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
}

.links a {
  outline: none;
  border: none;
}

#airports-icon {
  background-image: url("/airports_icon.png");
}

#airlines-icon {
  background-image: url("/airlines_icon.png");
}

#routes-icon {
  background-image: url("/routes_icon.png");
}

/**=============
  Autocomplete
=============**/
.ui-autocomplete {
  display: block;
  width: 20em;
  line-height: 1.3em;
  background-color: white;
  border: 1px solid #808080;
}

.ui-state-active {
  display: block;
  background-color: #7DA7FC;
}

.ui-helper-hidden-accessible {
  display: none;
	margin-left: auto;
}

.container{
	
}

/**=============
  Detailed Infos
=============**/

table, th, td {
    border: 1px solid black;
}